<form method="post" action="/post" class="well form-horizontal">
    <div class="form-group" style="width: 70%; margin: auto">
        <label class="sr-only" for="post">post</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="post">
        </div>
        <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-comment icon-white">
        </span> 发言
        </button>
    </div>
</form>