<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>list render</title>
</head>
<body>
<div id="app" v-cloak>
  <div>
    <ul>
      <template v-for="nodeState in nodeStates">
        <li v-if="nodeState.checkName">{{`${nodeState.checkName}-${nodeState.msg}-${nodeState.state}`}}
          <div v-if="nodeState.childrens">
            <ul>
              <template v-for="subState in nodeState.childrens">
                <li v-if="subState.checkName">{{`${subState.checkName}-${subState.msg}-${subState.state}`}}
                  <div v-if="subState.childrens">
                    <ul>
                      <template v-for="checkItem in subState.childrens">
                        <li v-if="checkItem.checkName">{{`${checkItem.checkName}-${checkItem.msg}-${checkItem.state}`}}
                        </li>
                      </template>
                    </ul>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </li>
      </template>
    </ul>
    <button v-if="nodeStates.length === 0" @click="initData">init</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      nodeStates: []
    },
    methods: {
      initData: function () {
        this.nodeStates = [
          {
            checkName: 'apiServer',
            state: null,
            normal: null,
            abnormal: null,
            msg: '',
            childrens: [
              {
                checkName: 'apiServer1',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }, {
                checkName: 'apiServer2',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }
            ]
          }, {
            checkName: 'nodeState2',
            state: null,
            normal: null,
            abnormal: null,
            msg: '',
            childrens: [
              {
                checkName: 'subState',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }, {
                checkName: 'subState2',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }
            ]
          }, {
            checkName: 'nodeState3',
            state: null,
            normal: null,
            abnormal: null,
            msg: '',
            childrens: [
              {
                checkName: 'aaServer1',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }, {
                checkName: 'aaServer2',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }
            ]
          }, {
            checkName: 'nodeState3',
            state: null,
            normal: null,
            abnormal: null,
            msg: '',
            childrens: [
              {
                checkName: 'ss',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }, {
                checkName: 'sss',
                state: null,
                normal: null,
                abnormal: null,
                msg: '',
                childrens: [
                  {
                    checkName: 'checkItem1',
                    state: 1,
                    normal: null,
                    abnormal: null,
                    msg: '1',
                    childrens: null
                  }, {
                    checkName: 'checkItem2',
                    state: 2,
                    normal: null,
                    abnormal: null,
                    msg: '2',
                    childrens: null
                  }, {
                    checkName: 'checkItem3',
                    state: 3,
                    normal: null,
                    abnormal: null,
                    msg: '3',
                    childrens: null
                  }
                ]
              }
            ]
          }
        ]
      },
    }
  });
</script>
</body>
</html>
